In [7]:
# import the data set

import pandas as pd

df = pd.read_excel('/Users/karanarora/Documents/Learning/Projects/Tata Forage/Online Retail.xlsx')

df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [13]:
# Check for distinct CustomerID

distinct_count = df['CustomerID'].nunique()

distinct_count

4372

In [21]:
# Check for null values

count_of_null = df.isnull().sum()
count_of_null

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [29]:
# Clear null values and check again for the null values

df_cleaned = df.dropna()
distinct_count = df_cleaned['CustomerID'].nunique()
print(distinct_count)
count_of_null = df_cleaned.isnull().sum()
print(count_of_null)

4372
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [35]:
# Group the CustomerID by InvoiceNo because we have repeated CustomerIDs but InvoiceNo is unique. This will help us find out the repeat customers.

invoice_counts = df_cleaned.groupby('CustomerID')['InvoiceNo'].count().reset_index()

# Defining repeat customers to those who have greater than 1 InvoiceNo

repeat_customers = invoice_counts[invoice_counts['InvoiceNo'] > 1]

print(repeat_customers)

      CustomerID  InvoiceNo
0        12346.0          2
1        12347.0        182
2        12348.0         31
3        12349.0         73
4        12350.0         17
...          ...        ...
4367     18280.0         10
4368     18281.0          7
4369     18282.0         13
4370     18283.0        756
4371     18287.0         70

[4293 rows x 2 columns]

In [37]:
# Count the number of repeat customers

distinct_count_of_repeat_customers = repeat_customers['CustomerID'].nunique()
print(distinct_count_of_repeat_customers)

4293

In [39]:
# Check the dataframe

repeat_customers

      CustomerID  InvoiceNo
0        12346.0          2
1        12347.0        182
2        12348.0         31
3        12349.0         73
4        12350.0         17
...          ...        ...
4367     18280.0         10
4368     18281.0          7
4369     18282.0         13
4370     18283.0        756
4371     18287.0         70

[4293 rows x 2 columns]

In [43]:
# Creating a column Customer_Type in Invoice_counts DataFrame. It will classify the customer to repeat or new. 
# Here Lambda is used to make the code compact. 
# The combination of lambda and apply() is often used in Pandas to apply a custom function (defined using lambda) to each element or row of a DataFrame or Series. The apply() method allows you to perform operations over each element.

invoice_counts['Customer_Type'] = invoice_counts['InvoiceNo'].apply(lambda x: 'Repeat Customer' if x > 1 else 'New Customer')
print("Customer classification:")
print(invoice_counts)

Customer classification:
      CustomerID  InvoiceNo    Customer_Type
0        12346.0          2  Repeat Customer
1        12347.0        182  Repeat Customer
2        12348.0         31  Repeat Customer
3        12349.0         73  Repeat Customer
4        12350.0         17  Repeat Customer
...          ...        ...              ...
4367     18280.0         10  Repeat Customer
4368     18281.0          7  Repeat Customer
4369     18282.0         13  Repeat Customer
4370     18283.0        756  Repeat Customer
4371     18287.0         70  Repeat Customer

[4372 rows x 3 columns]

4293

In [53]:
# Merge the two data frames and save to CSV.

merged_df = pd.merge(df, invoice_counts[['CustomerID', 'Customer_Type']], on='CustomerID', how='left')
merged_df.to_csv('repeat_customer.csv', index=False)
print("File saved as 'repeat_customer.csv'")

File saved as 'customers_classification.csv'

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

          Customer_Type
0       Repeat Customer
1       Repeat Customer
2       Repeat Customer
3       Repeat Customer
4       Repeat Customer
...                 ...
541904  Repeat Customer
541905  Repeat Customer
541906  Repeat Customer
541907  Repeat Customer
541908  Repeat Customer

[541909 rows x 9 columns]